{% extends "layout.html" %} 

{% block title%}: Adicionar Software{% endblock%} 
{% block main %} 
{% for category, message in get_flashed_messages(with_categories=true) %}

<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}

<h1 class="text-center">Adicione Ativo Virtual (<i>Software</i>)</h1>
<form action="/add_software" method="post">
  
  <div class="row">
    <div class="col">
      <label for="key">Chave da Licença do Software</label>
      <input
        autofocus
        class="form-control"
        id="key"
        name="key"
        placeholder="..."
        type="text"
        
      />
    </div>
    
    
      <div class="col">
        <label for="name">Nome do Software</label>
        <input
          autofocus
          class="form-control"
          id="name"
          name="name"
          placeholder="..."
          type="text"
          
        />
      </div>

    <div class="col">
      <label for="description">Descrição do Software</label>
      <input
        class="form-control"
        id="description"
        name="description"
        placeholder="..."
        type="text"
        
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="dt_buy">Data de compra do ativo</label>
      <input
        class="form-control"
        id="dt_buy"
        name="dt_buy"
        type="date"
        
      />
    </div>

    <div class="col">
      <label for="dt_pr_rev">Data da próxima revisão prevista <strong style="color: red;">*</strong></label>
      <input
        class="form-control"
        id="dt_pr_rev"
        name="dt_pr_rev"
        type="date"
        
      />
    </div>
  </div>


  <div class="row">
    <div class="col">
      <label for="price">Valor inicial do Ativo</label>
      <input
        class="form-control"
        id="price"
        name="price"
        placeholder="#####.##"
        type="number"
        step="0.01"
        max="99999.99"
        min="0"
      />
    </div>

  </div>

  <div class="row">

  
    <div class="col">
      <label class="hardware" for="hardware_id">Selecione a qual hardware este software pertence:</label>
        <select class="custom-select" id="hardware_id" name="hardware_id" >
          <option selected disabled>Patrimônios</option>
          
          {% for hardware in hardwares %}
            <option value="{{hardware[0]}}">{{ hardware[1] }}</option>
          {% endfor %}

        </select>
    </div>


  <button type="submit" class="add-btn btn btn-primary">Adicionar Software</button>
</form>

<p class="text-center mt-5"><strong style="color: red;">*</strong> Deve ser previamente definido pela empresa</p>

{% endblock %}
