{% extends "layout.html" %} 

{% block title%}{% endblock%} 
{% block main %} 
{% for category, message in get_flashed_messages(with_categories=true) %}

<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}

<h2 class="text-center">Filtros</h2>


{% if not all_hardwares %}
<h3 class="text-center">Não há hardwares para mostrar!</h3>
<a class="btn btn-primary" href="/add_hardware">Adicionar <i>Hardware</i></a>

{% else %}

<!-- INPUTS DE FILTRAGEM -->
<div class="row">
  <div class="col"> 
    <label for="patrimony_search">Filtrar patrimônio</label>
    <input autofocus class="form-control" type="number" id="patrimony_search" onkeyup="filter('patrimony_search', 0, 'hardwares')" placeholder="..." min="0" max="999999" step="1">
  </div>

  <div class="col">
    <label for="description_search">Filtrar descrição</label>
    <input class="form-control" type="text" id="description_search" onkeyup="filter('description_search', 1, 'hardwares')" placeholder="...">
  </div>

  <div class="col">
    <label for="department_search">Filtrar departamento</label>
    <input class="form-control" type="text" id="department_search" onkeyup="filter('department_search', 2, 'hardwares')" placeholder="...">
  </div>

</div>

<div class="row">
  <div class="col"> 
    <label for="buy_search">Filtrar pela data de compra</label>
    <input class="form-control" type="date" id="buy_search" onkeyup="filter('buy_search', 3, 'hardwares')">
  </div>

  <div class="col">
    <label for="buy_search">Filtrar pela data da próxima revisão</label>
    <input class="form-control" type="date" id="rev_search" onkeyup="filter('rev_search', 4, 'hardwares')">
  </div>

</div>


<h2 class="text-center">Hardwares Cadastrados</h2>


<table class="table table-striped" id='hardwares'>
  <thead>
    <tr>
      <th scope="col">Patrimônio</th>
      <th scope="col">Descrição</th>
      <th scope="col">Departamento</th>
      <th scope="col">Data de compra</th>
      <th scope="col">Data da próxima revisão</th>
      <th scope="col">Valor inicial</th>
      <th scope="col">Valor das revisões</th>
      <th scope="col">Valor total</th>
      <th scope="col">Opções</th>
      
    </tr>
  </thead>

  <tbody>
    {% for hardware in all_hardwares %}
    
      <tr>
        <td scope="row">{{ hardware[1] }}</td>
        <td>{{  hardware[2]  }}</td>
        <td>{{  hardware[6]  }}</td>
        <td>{{  hardware[3]  }}</td>
        <td>{{  hardware[4]  }}</td>
        <td>{{  hardware[5] | money_format }}</td>

        {% if hardware[7] %}
        <td>{{  ( hardware[7]) | money_format  }}</td>
        {% else %}
        <td>{{  0 | money_format  }}</td>
        {% endif %}

        {% if hardware[7] %}
        <td>{{  (hardware[5] + hardware[7]) | money_format  }}</td>
        {% else %}
        <td>{{  hardware[5] | money_format  }}</td>
        {% endif %}

        <td>
          <a class="dots" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
          </a>
          <ul class="dropdown-menu">

            <form action="/add_rev_hardware" method="get" class="edit-form">
              <input name="hardware_id" type="hidden" value="{{ hardware[0] }}">
              <button type="submit" class="dropdown-item options">Adicionar Revisão</button>
            </form>

            <form action="/all_rev_hardware" method="get" class="edit-form">
              <input name="hardware_id" type="hidden" value="{{ hardware[0] }}">
              <input name="patrimony" type="hidden" value="{{ hardware[1] }}">

              <button type="submit" class="dropdown-item options">Revisões</button>
            </form>


            <form action="/edit_hardware" method="get" class="edit-form">
              <input name="hardware_id" type="hidden" value="{{ hardware[0] }}">
              <button type="submit" class="dropdown-item options">Editar</button>
            </form>

            <form action="/all_soft_hardware" method="get" class="edit-form">
              <input name="hardware_id" type="hidden" value="{{ hardware[0] }}">
              <input name="patrimony" type="hidden" value="{{ hardware[1] }}">
              <button type="submit" class="dropdown-item options">Ver softwares</button>
            </form>


            <button class="delete dropdown-item options" value="{{ hardware[0] }}">Apagar</button>

          </ul>
        </td>
        
      </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endif %}
<dialog>
  <h1>Tem certeza que deseja apagar o ativo?</h1>
  <div>

      <button class="dl-btn close" id="close">Cancelar</button>
      <form action="/delete_hardware" method="post">
          <input name="hardware_id" type="hidden" value="0" id="modal_id">
          <button class="dl-btn confirm" type="submit">Confirmar!</button>
      </form>
  </div>
</dialog>



{% endblock %}
