{% extends "layout.html" %} 

{% block title%}{% endblock%} 
{% block main %} 
{% for category, message in get_flashed_messages(with_categories=true) %}

<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}

<h1 class="text-center">Revisões do Ativo: {{ key }}</h1>


{% if not all_revs %}
<h3 class="text-center">Sem revisões para mostrar!</h3>
<form action="/add_rev_software" method="get" class="edit-form">
  <input name="software_id" type="hidden" value="{{ software_id }}">
  <button type="submit" class="btn btn-primary">Adicionar Revisão</button>
</form>

{% else %}
<form action="/add_rev_software" method="get" class="edit-form">
  <input name="software_id" type="hidden" value="{{ software_id }}">
  <button type="submit" class="btn btn-primary">Adicionar Revisão</button>
</form>
<h2 class="text-center">Filtros</h2>

<!-- INPUTS DE FILTRAGEM -->
<div class="row">
 

  <div class="col">
    <label for="data_search">Filtrar data</label>
    <input class="form-control" type="date" id="sdata_search" onkeyup="filter('sdata_search', 0, 'softwares')" placeholder="...">
  </div>

  <div class="col">
    <label for="type_search">Filtrar Tipo de Revisão</label>
    <input class="form-control" type="text" id="stype_search" onkeyup="filter('stype_search', 1, 'softwares')" placeholder="...">
  </div>

  <div class="col">
    <label for="infos_search">Filtrar Informações</label>
    <input class="form-control" infos="text" id="sinfos_search" onkeyup="filter('sinfos_search', 3, 'softwares')" placeholder="...">
  </div>
</div>


<h2 class="text-center">Nome do software: {{ name[0] }}</h2>
<!-- <h2 class="text-center">Chave de licença: {{ key }}</h2> -->

<h3 class="text-center">Valor total das revisões: {{ sum_revs | money_format }}</h3>

<table class="table table-striped" id='softwares'>
  <thead>
    <tr>
      <th scope="col">Data da revisão</th>
      <th scope="col">Tipo de revisão</th>
      <th scope="col">Valor da revisão</th>
      <th scope="col">Informações</th>
    </tr>
  </thead>

  <tbody>
    {% for rev in all_revs %}
    
      <tr>
        <td scope="row">{{ rev[1]| date_format }}</td>
        <td>{{  rev[3]  }}</td>
        <td>{{  rev[2] | money_format }}</td>
        {% if not rev[4] %}
        <td>Sem informações sobre revisão</td>

        {% else %}
        <td>{{  rev[4]  }}</td>

        {% endif %}
      </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endif %}


{% endblock %}
