{% extends "layout.html" %} 

{% block title%}{% endblock%} 
{% block main %} 
{% for category, message in get_flashed_messages(with_categories=true) %}

<div
  class="alert alert-{{ category }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}

<h1 class="text-center">Softwares Cadastrados</h1>

{% if not all_softwares %}
<h3 class="text-center">Não há softwares para mostrar!</h3>
<a class="btn btn-primary" href="/add_software">Adicionar <i>Software</i></a>


{% else %}
<h2 class="text-center">Filtros</h2>

<!-- INPUTS DE FILTRAGEM -->
<div class="row">
  <div class="col">
    <label for="type_search">Filtrar Nome</label>
    <input autofocus class="form-control" type="text" id="name_search" onkeyup="filter('name_search', 0, 'softwares')" placeholder="...">
  </div>

  <div class="col">
    <label for="type_search">Filtrar Chave de Licença</label>
    <input class="form-control" type="text" id="key_search" onkeyup="filter('key_search', 1, 'softwares')" placeholder="...">
  </div>

  <div class="col">
    <label for="type_search">Filtrar por hardware</label>
    <input class="form-control" type="text" id="software_search" onkeyup="filter('software_search', 3, 'softwares')" placeholder="...">
  </div>

</div>


<table class="table table-striped" id='softwares'>
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Chave de Licença</th>
      <th scope="col">Descrição</th>
      <th scope="col">Hardware</th>
      <th scope="col">Data de compra</th>
      <th scope="col">Data da próxima revisão</th>
      <th scope="col">Valor</th>
      <th scope="col">Opções</th>

    </tr>
  </thead>

  <tbody>
    {% for software in all_softwares %}
    
      <tr>
        <td scope="row">{{ software[1] }}</td>
        <td>{{  software[2]  }}</td>
        <td>{{  software[3]  }}</td>
        <td>{{  software[9]  }}</td>
        <td>{{  software[4]  }}</td>
        <td>{{  software[5]  }}</td>
        <td>{{  software[6] | money_format }}</td>

        <td>
          <a class="dots" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
          </a>
          <ul class="dropdown-menu">

            <form action="/add_rev_software" method="get" class="edit-form">
              <input name="software_id" type="hidden" value="{{ software[0] }}">
              <button type="submit" class="dropdown-item options">Adicionar Revisão</button>
            </form>

            <form action="/all_rev_software" method="get" class="edit-form">
              <input name="software_id" type="hidden" value="{{ software[0] }}">
              <input name="key" type="hidden" value="{{ software[2] }}">

              <button type="submit" class="dropdown-item options">Revisões</button>
            </form>


            <form action="/edit_software" method="get" class="edit-form">
              <input name="software_id" type="hidden" value="{{ software[0] }}">
              <button type="submit" class="dropdown-item options">Editar</button>
            </form>

        

            <button class="delete dropdown-item options" value="{{ software[0] }}">Apagar</button>

          </ul>
        </td>
      </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endif %}
<dialog>
  <h1>Tem certeza que deseja apagar o ativo?</h1>
  <div>

      <button class="dl-btn close" id="close">Cancelar</button>
      <form action="/delete_software" method="post">
          <input name="software_id" type="hidden" value="0" id="modal_id">
          <button class="dl-btn confirm" type="submit">Confirmar!</button>
      </form>
  </div>
</dialog>

{% endblock %}